.quote-card {
  box-sizing: border-box;
  color: #00004C;
  border: 3px solid #00004C;
  padding: 10px;
  background-color: #A1BAC3;
  opacity: .9;
  margin: 20px 20px;
}

.quote-text,
.author-name {
  font-size: 20px;
}