.welcome-msg {
  box-sizing: border-box;
  color: #00004C;
  border: 3px solid #00004C;
  padding: 10px;
  background-color: #A1BAC3;
  opacity: .9;
  margin-top: 2.5em;
  border-radius: 20px;
}

.title-app {
  font-size: xx-large;
  color: #00004C;
}

.greeting {
  font-size: x-large;
  font-style: italic;
}

.all-msg,
.new-msg,
.search-msg {
  font-size: large;
}

.search-msg,
.all-msg {
  font-style: italic;
  font-weight: bolder;
}

.or {
  font-size: small;
}
