.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #A1BAC3;
  width: 100%;
  height: 20%;
}

.title {
  font-size: xx-large;
  color: #F0F8FF;
  cursor: alias;
}

.nav-btns-container {
  display: flex;
  justify-content: space-evenly;
}

.left-side-btn,
.right-side-btn  {
  height: 50px;
  width: 15vw;
  background-color: #d0cbc3;
  color: #F0F8FF;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  cursor: alias;
  box-shadow: 3px 3px #4f0202;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
} 

.left-side-btn:hover,
.right-side-btn:hover {
  transition: .2s;
  transform: scale(1.5);
}

.about-msg-div {
  font-style: italic;
  color: #F0F8FF;
  margin-top: -2%;
  font-size: 20px;
}

