.home-btn {
  margin-top: 10px;
  height: 43px;
  width: 8vw;
  background-color: #d0cbc3;
  color: #F0F8FF;
  border: none;
  font-size: 17px;
  font-weight: bolder;
  cursor: alias;
  box-shadow: 3px 3px #4f0202;
  font-family: 'Raleway', sans-serif;
} 

.home-btn:hover {
  transition: .2s;
  transform: scale(1.5);
}

.search-section {
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  color: #00004C;
  border: 3px solid #00004C;
  padding: 10px;
  background-color: #A1BAC3;
  opacity: .9;
}

.search-title {
  font-size: x-large;
  font-weight: bold;
  border: 2px dotted #00004C;
  padding: 10px;
  background-color: #A1BAC3;
  font-style: italic;
  color: #00004C;
}

.search-bar-input {
  width: 40%;
  height: 40px;
  background-color: #F0F8FF;
  font-size: 20px;
}

.submit-btn {
  margin-top: 10px;
  height: 33px;
  width: 6.5vw;
  background-color: #d0cbc3;
  color: #F0F8FF;
  border: none;
  font-size: 17px;
  font-weight: bolder;
  cursor: alias;
  box-shadow: 3px 3px #4f0202;
  font-family: 'Raleway',
  sans-serif;
  margin-left: 2%;
  margin-bottom: 5%;
}

.submit-btn:hover {
  transition: .2s;
  transform: scale(1.5);
}

.filtered-quotes-cards{
  background-color: transparent;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 8%;
}